<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page Index</title>
    <link
      href="https://fonts.googleapis.com/css?family=Big Shoulders Display"
      rel="stylesheet"
    />
    <video autoplay muted loop id="myVideo">
      <source src="../styles/video/Forum.mp4" type="video/mp4" />
      Votre navigateur ne prend pas en charge la vidéo HTML5.
    </video>
    <script type="module" defer src="../styles/js/login.js"></script>
  </head>
  <body>
    <div id="page" class="page"></div>

    <!-- ICON SCRIPT -->
    <!-- <script src="https://unpkg.com/feather-icons"></script>
    <script>
      feather.replace();
    </script>
    <script type="text/javascript" src="../styles/js/test.js"></script> -->
  </body>
</html>
